/* ========================
=============== Миксины ================= */

@import 'mixins';

/* ========================
=============== Переменные ================= */

@import 'variables';

/* ========================
=============== Спецификация ================= */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Tahoma', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

/* ========================
=============== Шапка ================= */

.header {
  background: rgb(33, 19, 106);
  padding: 20px 0;
  margin-bottom: 20px;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__search {
  & input {
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 5px 10px;
  }
}

.logo {
  font-size: 20px;
  color: $primeColor;
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    color: darken($primeColor, 20%);
  }
}

/* ========================
=============== Список фильмов ================= */

.movies__inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.movies {
  &__item {
    width: calc(100% / 24 * 4 - 15px);
    height: auto;
    margin: 0 15px 15px 0;
    border-radius: 10px;
  }

  &__box {
    width: 100%;
    height: 290px;
    border-radius: 10px;
    overflow: hidden;
    background: #ddd;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ========================
=============== Медиа запросы ================= */

@media screen and (max-width: 1050px) {
  .movies {
    &__item {
      width: calc(100% / 24 * 6 - 15px);
    }

    &__box {
      height: 350px;
    }
  }
}

@media screen and (max-width: 850px) {
  .movies {
    &__box {
      height: 260px;
    }
  }
}

@media screen and (max-width: 630px) {
  html {
    font-size: 12px;
  }

  .movies {
    &__box {
      height: 200px;
    }
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 10px;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__search input {
    margin-top: 20px;
  }

  .movies__inner {
    justify-content: center;
    margin-right: 0;
  }

  .movies {
    &__box {
      height: 200px;
    }

    &__item {
      width: calc(100% / 24 * 8 - 15px);
    }
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__search input {
    margin-top: 20px;
  }

  .movies__inner {
    justify-content: center;
    margin-right: 0;
  }

  .movies {
    &__box {
      height: 150px;
    }
  }
}
